@use 'base/variables';
@use 'blocks/nav-bar';
@use 'base/variables' as vars;
@use 'blocks/main-slider';
@use 'blocks/client-nav';
@use 'blocks/main-search';
@use 'blocks/news';
@use 'blocks/possibilities';
@use 'blocks/partners';
@use 'blocks/money-order';
@use 'blocks/reviews';
@use 'blocks/online-services';
@use 'blocks/footer';
@use 'blocks/modal';

* {
    font-family: vars.$main-font;
}

.container {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}

.footer-line {
    margin-top: 80px;
    height: 10px;
    width: 100%;
    background-color: vars.$main-color;
}