@use 'base/variables';
@use 'blocks/nav-bar';
@use 'base/variables' as vars;
@use 'blocks/main-slider';
@use 'blocks/client-nav';

* {
    font-family: vars.$main-font;
}

.container {
    width: 1020px;
    margin: 0 auto;
}