@use '../base/variables' as vars;

.overlay {
    display: none;
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}
.sign-in {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 603px;
    max-height: 585px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    &__header {
        height: 120px;
        background-color: vars.$main-color;
        h2 {
            padding-top: 27px;
            padding-left: 102px;
            padding-right: 102px;
            font-weight: 700;
            font-size: 28px;
            text-transform: uppercase;
            color: #fff;
        }
        h3 {
            margin-top: 12px;
            padding-left: 102px;
            padding-right: 102px;
            font-weight: 500;
            font-size: 12px;
            color: #fff;
        }
        .close {
            color: #fff;
            font-size: 40px;
            position: absolute;
            right: 10px;
            top: -5px;
            cursor: pointer;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tabs {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid vars.$main-color;
            .tab {
                border: none;
                width: 147px;
                height: 35px;
                background-color: #fff;
                font-weight: 400;
                font-size: 14px;
                color: #a6a6a6;
                cursor: pointer;
                &_active {
                    background-color: vars.$main-color;
                    font-weight: 500;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
        
        .content {
            display: none;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                row-gap: 20px;
                input {
                    border-radius: 10px;
                    width: 291px;
                    height: 35px;
                    border-radius: 10px;
                    border: 1px solid vars.$main-color;
                    padding-left: 18px;
                }
            }
            button.next {
                margin-top: 5px;
                justify-self: center;
                border-radius: 10px;
                border: none;
                width: 120px;
                height: 35px;
                background-color: vars.$main-color;
                color: #fff;
                cursor: pointer;
            }
            .policy {
                margin-top: 23px;
                display: flex;
                align-items: start;
                padding-left: 114px;
                padding-right: 114px;
                div {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 10px;
                    color: #5f6060;
                    a {
                        text-decoration: none;
                        color: vars.$main-color;
                    }
                }
                input {
                    width: 10px;
                    height: 10px;
                    position: relative;
                    left: -10px;
                    border: 1px solid vars.$main-color;
                }
            }
            &_active {
                display: block;
            }
        }
        .pagination {
            margin-top: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 9px;
            &__button {
                border-radius: 100%;
                border: none;
                background-color: #b8b9b9;
                color: #fff;
                width: 20px;
                height: 20px;
                cursor: pointer;
                &_active {
                    background-color: vars.$main-color;
                    width: 30px;
                    height: 30px;
                }
            }
        }
        
    }
}

.burger {
    display: none;
    width: 465px;
    height: 60vh;
    background-color: #fff;
    border-radius: 0 0 0 10px;
    position: fixed;
    top: 0;
    right: 0;
    padding-bottom: 14px;
    overflow: auto;
    transition: max-height 0.3s ease-in-out;
    .close {
        position: absolute;
        top: 14px;
        right: 32px;
        font-size: 35px;
        color: #5F6060;
        cursor: pointer;
    }
    &__wrapper {
        margin-top: 74px;
        min-height: 439px;
        // overflow: hidden;
    }
    &__main-menu {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 27px;
    }
    &__main-link {
        font-weight: 500;
        font-size: 18px;
        color: vars.$main-color;
        position: relative;
        cursor: pointer;
        summary {
            list-style: none;
        }
        &::before {
            content: "";
            background: url("../img/icons/dashicons_arrow-left-alt2.svg");
            width: 20px;
            height: 20px;
            position: absolute;
            right: 186px;
        }
    }
    &__submenu {
        margin-top: 19px;
        margin-left: 7px;
        display: flex;
        flex-direction: column;
        row-gap: 19px;
    }
    &__sublink {
        font-weight: 400;
        font-size: 14px;
        color: vars.$main-color;
    }
    &__social {
        display: flex;
        margin-top: 27px;
        margin-left: 19px;
        width: 261px;
        justify-content: space-between;
    }
    &__licence {
        margin-left: 19px;
        margin-top: 17px;
        font-weight: 400;
        font-size: 12px;
        color: #5f6060;
    }
}